#thirdDiv {
height: 600px;
width: 500px;
background-color: cadetblue;
padding: 50px;
border: solid 5px greenyellow;
}
.divClass{

}
#spanId{
    font-size: 18px;
    margin: 50px;
}
img {
    width: 400px;
}
h1{

}
body{
    background-image: url(file:///C:/Users/Lautaro/Desktop/Dise%C3%B1o/Henry/Curso.Prep.Henry/08-HTML/homework/2.png);
    background-repeat: repeat;
    background-size: 500px 500px;
}
div{
    display: flex;
    margin: auto;
    width: 50%;
    text-align: center;
}
li{
    list-style-type: none;
}